[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://download.pytorch.org/whl/cu113/"
verify_ssl = true
name = "downloadpytorch"

[packages]
ipykernel = "*"
numpy = "*"
matplotlib = "*"
torchaudio = "*"
oiffile = "*"
opencv-python = "*"
pillow = "*"
requests = "*"
tqdm = "*"
tifffile = "*"
patchify = "*"
jupyterthemes = "*"
albumentations = "*"
iprogress = "*"
torchmetrics = "*"
tensorboard = "*"
torchinfo = "*"
seaborn = "*"
pytest = "*"
typing-extensions = "*"
pandas = "*"
torchvision = "*"
pyclesperanto-prototype = "*"
pynrrd = "*"
napari = "*"
pyqt5 = "*"
ipympl = "*"
ipytest = "*"
raster-geometry = "*"
pyside6 = "*"
ipyvolume = "*"

[dev-packages]

[requires]
python_version = "3.9"

[packages.torch]
index = "downloadpytorch"
version = "==1.11.0+cu113"
