[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ipykernel = "*"
numpy = "*"
matplotlib = "*"
torch = "*"
torchvision = "*"
torchaudio = "*"
oiffile = "*"
opencv-python = "*"
pycocotools = "*"
pillow = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.8"
